@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0d1a;
  --foreground: #ffffff;
}

@layer base {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    @apply bg-navy-dark text-white font-outfit antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
